<mat-card>
    <img src="../../../assets/logo-menor.png" alt="Logo" style="display: block; margin: 0 auto; max-width:200px !important; height: 100px;">
    <mat-card-header>    
      <mat-card-title>Inscreva-se no Curso</mat-card-title>
    </mat-card-header>
  
    
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <!-- Campo Nome -->
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required autocomplete="off">
          <mat-error *ngIf="registrationForm.get('nome')?.hasError('required')">
            Nome é obrigatório
          </mat-error>
        </mat-form-field>

        <!-- Campo CPF-->
        <mat-form-field appearance="fill" class="clean-field custom-cpf-field ">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" 
                required
                placeholder="000.000.000-00"
                autocomplete="off"
                (input)="formatarCPF($event)">
          <mat-error *ngIf="registrationForm.get('cpf')?.hasError('required')">
            CPF é obrigatório
          </mat-error>
          <mat-error *ngIf="registrationForm.get('cpf')?.hasError('cpfInvalido')">
            CPF inválido
          </mat-error>
        </mat-form-field>

        
        <!-- Campo E-mail -->
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" type="email" required placeholder="email@example.com" autocomplete="off">
          <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
            E-mail é obrigatório
          </mat-error>
          <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
            E-mail inválido
          </mat-error>
        </mat-form-field>
  
        <!-- Campo Celular -->
        <mat-form-field appearance="fill" class="phone-field">
          <mat-label>Celular (com DDD)</mat-label>
          <input matInput formControlName="celular" (input)="formatarCelular($event)" required placeholder="(00) 00000-0000" autocomplete="off" (keypress)="bloquearNaoNumericos($event)" >
          <mat-error *ngIf="registrationForm.get('celular')?.hasError('required')">
            Celular é obrigatório
          </mat-error>
          <mat-error *ngIf="registrationForm.get('celular')?.hasError('pattern')">
            Deve ter 11 dígitos (DDD + número)
          </mat-error>
        </mat-form-field>

        <!-- Campo Idade -->
        <mat-form-field appearance="fill">
            <mat-label>Idade</mat-label>
            <input matInput formControlName="idade" required autocomplete="off"(keypress)="bloquearNaoNumericos($event)">
            
            <mat-error *ngIf="registrationForm.get('idade')?.hasError('required')">
              Idade é obrigatório
            </mat-error>
            <mat-error *ngIf="registrationForm.get('idade')?.hasError('pattern')">
              Deve ter 02 dígitos
            </mat-error>
          </mat-form-field>
  
        <!-- Botão de Submit -->
        <button mat-raised-button 
        class="pix-button"
        [disabled]="registrationForm.invalid || isSubmitting"
        [class.loading]="isSubmitting"
        (click)="onSubmit()">
        <div class="button-content">
          @if (isSubmitting) {
            <mat-spinner diameter="20" strokeWidth="2"></mat-spinner>
          } @else {
            <img src="assets/pix.svg" class="pix-icon" alt="PIX">
          }
          <span>{{ isSubmitting ? 'PROCESSANDO...' : 'GERAR PAGAMENTO PIX' }}</span>
        </div>
        </button>

      </form>
    </mat-card-content>
  </mat-card>
